<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MatrixSaver</string>
	<key>CFBundleIdentifier</key>
	<string>com.nwwnetwork.MatrixSaver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MatrixSaver</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverGLMatrixView</string>
	<key>NSHumanReadableCopyright</key>
	<string>MatrixSaver 2.0, © 2009 NWW Network and Jamie Zawinski.</string>
	<key>CFBundleLongVersionString</key>
	<string>MatrixSaver 2.0, © 2009 NWW Network and Jamie Zawinski.</string>
	<key>CFBundleGetInfoString</key>
	<string>MatrixSaver 2.0, © 2009 NWW Network and Jamie Zawinski.</string>
</dict>
</plist>
